body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('mosque2.png');
    background-repeat: no-repeat;    
    background-size: cover;            
    background-position: center;     
    background-color: #131010;
    background-blend-mode: overlay;

    
}
.prayer-box {
    position: relative;
    z-index: 5;
    padding: 60px 90px;
    background: rgba(252, 208, 97, 0.08);
    backdrop-filter: blur(30px);
    border-radius:  0px 100px ;


    border: 2px solid rgba(255, 215, 0, 0.3);
    box-shadow:
        0 0 25px rgba(255, 200, 0, 0.2),
        0 0 45px rgba(255, 180, 0, 0.15),
        inset 0 0 20px rgba(255, 200, 0, 0.15);
    text-align: center;
    animation: floatBox 5s ease-in-out infinite;
    transition: 0.4s ease;
}
@keyframes floatBox {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
}
.prayer-box:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 35px rgba(255, 215, 0, 0.6),
        0 0 70px rgba(255, 200, 0, 0.4),
        inset 0 0 25px rgba(255, 215, 0, 0.4);
}

.prayer-box h2 {
    color: #ffd700;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
}

#next {
    color: #fff8d6;
    font-size: 22px;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
}

#countdown {
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
    text-shadow:
        0 0 20px rgba(255,255,255,0.5),
        0 0 40px rgba(255,215,0,0.5);
}


@media (max-width: 768px) {
    .prayer-box {
        padding: 40px 50px;
    }
    #countdown {
        font-size: 44px;
    }
    .prayer-box h2 {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .prayer-box {
        padding: 25px 30px;
    }
    #countdown {
        font-size: 32px;
    }
}
