*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --base-color: #c8e9ff;
    --base-variant:#7bbde8;
    --text-color:#fff;
    --secondary-text:#000;
    --hover-color:#135ea4;
}

.darkMode{
    --base-color:#043a6c;
    --base-variant:#004c7f;
    --text-color:#000;
    --secondary-text:#fff;
    --hover-color:#c8e9ff;

}

    
header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--base-color);
    height: 100vh;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: var(--text-color);
    background-color: var(--base-variant);

}

.logoGroup{
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.logo{
    font-size: 1.5em;
    font-weight: bold;
}



nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1em;
}

nav .mainMenu li a:hover {
   color: var(--hover-color);
   border-radius: 8px;
   transition:color 1s ease;
   background-color: 1s ease;

}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

#themeSwitch{
    background-color: var(--hover-color);
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#themeSwitch svg{
    fill: var(--text-color);
}

#themeSwitch svg:last-child{
    display: none;
}

.darkMode #themeSwitch svg:first-child{
    display: none;
}

.darkMode #themeSwitch svg:last-child{
    display: block;
}

.headerContainer{
    display: flex;
    padding: 50px;
    color: var(--secondary-text);
    
}

.imgContent {
    width: 160vw;
    height: 55vh;

    background-image: url(../assets/muslimspraying.png);
    background-repeat: no-repeat;
    background-size: 500px auto; 
    
    
    background-position: center;
    
}

#quote{
    font-size: 1.5em;
}

.txtContent{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
    margin: 40px;
}

.searchBar{
    margin-top: 70px;
    position: relative;
}

.searchBar input{
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 2px 5px rgba(17, 102, 182, 0.2);
    transition: 0.4s ease-in-out;

}



.searchBar input:focus{
    width: 300px;
   
}

.searchBar i{
    position: absolute;
    top:7%;
    left: 350px;
    transform: translateY(-50%);
    color: black;
    font-size: 25px;

}



@media ( max-width: 800px ) {

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --base-color: #c8e9ff;
    --base-variant:#7bbde8;
    --text-color:#fff;
    --secondary-text:#000;
    --hover-color:#135ea4;
}

.darkMode{
    --base-color:#043a6c;
    --base-variant:#004c7f;
    --text-color:#000;
    --secondary-text:#fff;
    --hover-color:#c8e9ff;

}

header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--base-color);
    height: 100vh;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: var(--text-color);
    background-color: var(--base-variant);
    

}

.logoGroup{
    display: flex;
    align-items: center; 
    gap: 5px; 
}

.logo{
    font-size: 1em;
    font-weight: bold;
}

.motto{
    font-size: 0.8em;
}


nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--base-variant);
    transition: top 1s ease;
    display: none;
}

nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    
}

nav .openMenu {
    display: block;
}

nav .mainMenu li a:hover{
    color: var(--hover-color);
   border-radius: 8px;
   transition:color 1s ease;
   background-color: 1s ease;
}





#themeSwitch{
    background-color: var(--hover-color);
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#themeSwitch svg{
    fill: var(--text-color);
}

#themeSwitch svg:last-child{
    display: none;
}

.darkMode #themeSwitch svg:first-child{
    display: none;
}

.darkMode #themeSwitch svg:last-child{
    display: block;
}

.headerContainer{
    padding: 3px;
    color: var(--secondary-text);
    display: inline-block;
}

.imgContent {
    width: 370px;
    height: 200px;
    
    background-image: url(../assets/muslimspraying.png);
    background-repeat: no-repeat;
    background-size: 300px auto; 
    background-position: center;
    margin: 5px auto;
     
}

#quote{
    font-size: 1.1em;
    margin: 10px auto;
}



.txtContent{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    padding: 5px;
    margin: 10px;
    height: 30vh;
}

.searchBar{
    margin-top: 20px;
    position: relative;
}

.searchBar input{
    width: 250px;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 2px 5px rgba(17, 102, 182, 0.2);
    transition: 0.4s ease-in-out;

}



.searchBar input:focus{
    width: 270px;
   
}

.searchBar i{
    position: absolute;
    top:12%;
    left: 300px;
    transform: translateY(-50%);
    color: black;
    font-size: 25px;

}
}



